html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: var(--primary-clr);
    font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --grid-size: 16;
    --primary-clr: #172554;
    --container-clr: #eff6ff;
    --grid-container-size: 600px;
    --hover-clr: #93c5fd;
    --red-hover-clr: #fb7185;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-clr);
}

h1 {
    font-size: 2rem;
    color: var(--container-clr);
    margin: 0;
}

.buttons {
    display: inline;
    margin: 10px 0;
}

button {
    margin: 10px;
    padding: 5px;
    width: 80px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--primary-clr);
    background-color: var(--container-clr);
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
}

button:hover {
    transform: scale(1.05);
    background-color: var(--hover-clr);
    color: var(--container-clr)
}

.resetBtn:hover {
    background-color: var(--red-hover-clr);
}

.container {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--container-clr);
    width: var(--grid-container-size);
    height: var(--grid-container-size);
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
}

.square {
    flex: 1 0 calc(var(--grid-container-size) / var(--grid-size));
    height: calc(var(--grid-container-size) / var(--grid-size));
}

footer p {
    color: var(--red-hover-clr);
}